:root {
  font-size: 1em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  background-image: url("../assets/bg-main-mobile.png");
  background-size: 175%;
  background-position: -25px -290px;
  background-repeat: no-repeat;
  background-color: #fcfaf9;
  color: #191826;
  padding-inline: calc(0.0839694656 * 100vw + -31.4885496183px);
}
@media (min-width: 41.875rem) {
  body {
    background-image: url("../assets/bg-pattern-1.svg"), url("../assets/bg-main-mobile.png");
    background-size: 266.67px 400px, 175%;
    background-position: 537px -32px, -25px -290px;
  }
}
@media (min-width: 48rem) {
  body {
    background-image: url("../assets/bg-pattern-1.svg"), url("../assets/bg-main-tablet.png");
    background-size: calc(0.0674553571 * 100vw + 214.8642857143px) calc(0.1011904762 * 100vw + 322.2857142857px), 175%;
    background-position: top calc(-0.0119047619 * 100vw + -22.8571428571px) right calc(0.0530803571 * 100vw + -76.4357142857px), -405px -265px;
    padding-inline: calc(0.1964285714 * 100vw + -117.8571428571px);
  }
}
@media (min-width: 90rem) {
  body {
    background-image: url("../assets/bg-pattern-1.svg"), url("../assets/bg-main-desktop.png");
    background-size: 312px 468px, 150%;
    background-position: top -40px right, -470px -350px;
    padding-inline: 165px;
  }
}

.logo_top {
  margin-top: 39.99px;
  margin-left: calc(0.1118181818 * 100vw + -17.7818181818px);
  margin-bottom: 64.01px;
}
@media (min-width: 23.4375rem) {
  .logo_top {
    margin-top: calc(0.0559796438 * 100vw + 18.9976335878px);
    margin-left: calc(-0.0610687023 * 100vw + 47.0507633588px);
    margin-bottom: calc(0.0788804071 * 100vw + 34.4298473282px);
  }
}
@media (min-width: 48rem) {
  .logo_top {
    margin-top: 61.99px;
    margin-left: 0.15px;
    margin-bottom: calc(0.0476190476 * 100vw + 58.4385714286px);
  }
}
@media (min-width: 90rem) {
  .logo_top {
    margin-bottom: 127.01px;
  }
}

.top-section {
  margin: 0 calc(0.1090909091 * 100vw + -16.9090909091px) calc(0.2111959288 * 100vw + 5.4250954198rem) calc(0.1090909091 * 100vw + -16.9090909091px);
}
@media (min-width: 23.4375rem) {
  .top-section {
    margin: 0 calc(0.3715012723 * 100vw + -115.3129770992px) calc(0.2111959288 * 100vw + 5.4250954198rem) calc(-0.0458015267 * 100vw + 41.1755725191px);
  }
}
@media (min-width: 48rem) {
  .top-section {
    margin: 0 calc(0.125 * 100vw + 74px) calc(0.1071428571 * 100vw + 10.4196428571rem) calc(-0.0089285714 * 100vw + 12.8571428571px);
  }
}
@media (min-width: 90rem) {
  .top-section {
    margin: 0 254px 20.0625rem 0px;
  }
}
.top-section h1 {
  font-size: calc(0.0610687023 * 100vw + 1.0687022901rem);
  font-weight: 700;
  line-height: calc(0.0407124682 * 100vw + 2.0458015267rem);
  letter-spacing: calc(-0.0013994911 * 100vw + 0.0748091603px);
  margin-bottom: calc(0.0203562341 * 100vw + 0.7729007634rem);
}
@media (min-width: 48rem) {
  .top-section h1 {
    font-size: calc(0.0357142857 * 100vw + 2.2857142857rem);
    line-height: 1;
    letter-spacing: calc(-0.0004017857 * 100vw + -0.4214285714px);
    margin-bottom: calc(0.0178571429 * 100vw + 0.8928571429rem);
  }
}
@media (min-width: 90rem) {
  .top-section h1 {
    font-size: 5.5rem;
    letter-spacing: -1px;
    margin-bottom: 2.5rem;
  }
}
.top-section p {
  font-size: calc(0.0050890585 * 100vw + 0.8807251908rem);
  line-height: calc(0.0050890585 * 100vw + 1.5057251908rem);
  margin-right: calc(0.0279898219 * 100vw + -10.4961832061px);
}
@media (min-width: 48rem) {
  .top-section p {
    font-size: calc(0.0029761905 * 100vw + 0.9821428571rem);
    line-height: calc(0.0089285714 * 100vw + 1.3214285714rem);
    margin-right: 11px;
  }
}
@media (min-width: 90rem) {
  .top-section p {
    font-size: 1.25rem;
    line-height: 1.7;
    margin-right: 0;
  }
}

.illustrations {
  background-image: url("../assets/bg-pattern-2.svg");
  background-repeat: no-repeat;
  background-position: calc(0.4605597964 * 100vw + -124.7099236641px) calc(-0.0788804071 * 100vw + 29.5801526718px);
  background-size: 280px 420px;
  background-color: #191826;
  height: 600px;
  border-radius: 12px;
  max-width: 1110px;
  margin: 0 auto;
}
@media (min-width: 48rem) {
  .illustrations {
    background-position: calc(0.1592261905 * 100vw + 106.7142857143px) calc(-0.0133928571 * 100vw + -20.7142857143px);
    size: calc(0.0476190476 * 100vw + 243.4285714286px) calc(0.0714285714 * 100vw + 365.1428571429px);
  }
}
@media (min-width: 90rem) {
  .illustrations {
    background-size: 312px 468px;
    background-position: 336px -40px;
  }
}
.illustrations img {
  display: block;
  position: relative;
  width: 209px;
  height: 430px;
  top: -98px;
  margin-left: calc(0.4667272727 * 100vw + -94.3527272727px);
}
@media (min-width: 23.4375rem) {
  .illustrations img {
    width: calc(0.1557506361 * 100vw + 150.5935114504px);
    height: calc(0.320610687 * 100vw + 309.7709923664px);
    top: calc(-0.1017811705 * 100vw + -59.8320610687px);
    margin-left: calc(-0.0424173028 * 100vw + 96.5764885496px);
  }
}
@media (min-width: 48rem) {
  .illustrations img {
    width: calc(0.0621875 * 100vw + 222.45px);
    height: calc(0.1279761905 * 100vw + 457.7142857143px);
    margin-left: calc(0.056547619 * 100vw + 20.5714285714px);
    top: calc(-0.1116071429 * 100vw + -52.2857142857px);
  }
}
@media (min-width: 90rem) {
  .illustrations img {
    width: 312px;
    height: 642px;
    margin-left: 102px;
    top: -213px;
  }
}

.premium {
  display: flex;
  flex-direction: column;
  background-color: #fa7453;
  color: #fcfaf9;
  border-radius: 12px;
  position: relative;
  top: -220px;
  padding: 3rem calc(0.3272727273 * 100vw + -86.7272727273px);
  margin-bottom: calc(4rem - 220px);
}
@media (min-width: 23.4375rem) {
  .premium {
    padding-inline: calc(0.0305343511 * 100vw + 24.5496183206px);
    width: calc(0.0610687023 * 100vw + 22.0062022901rem);
    top: calc(-0.5852417303 * 100vw + -0.534351145px);
    margin-left: calc(0.6081424936 * 100vw + -228.0534351145px);
    margin-bottom: calc((0.058524173 * 100vw + 2.6283396947rem) + (-0.5852417303 * 100vw + -0.534351145px));
  }
}
@media (min-width: 48rem) {
  .premium {
    padding-inline: calc(0.0089285714 * 100vw + 41.1428571429px);
    width: calc(0.0699404762 * 100vw + 21.5803571429rem);
    margin-left: calc(0.4910714286 * 100vw + -138.1428571429px);
    top: calc(-0.0892857143 * 100vw + -381.4285714286px);
    margin-bottom: calc(5.4375rem + (-0.0892857143 * 100vw + -381.4285714286px));
    padding-top: calc(0.0148809524 * 100vw + 36.5714285714px);
  }
}
@media (min-width: 90rem) {
  .premium {
    padding-inline: 54px;
    padding-top: 58px;
    width: 27.875rem;
    margin-left: 569px;
    top: -510px;
    margin-bottom: calc(5.4375rem - 510px);
  }
}
.premium h2 {
  font-size: 2rem;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
@media (min-width: 48rem) {
  .premium h2 {
    font-size: calc(0.0119047619 * 100vw + 1.4285714286rem);
    line-height: calc(0.0178571429 * 100vw + 1.6428571429rem);
    margin-bottom: calc(0.0148809524 * 100vw + 0.0357142857rem);
  }
}
@media (min-width: 90rem) {
  .premium h2 {
    font-size: 2.5rem;
    line-height: 1.3;
    margin-bottom: 1.375rem;
  }
}
.premium p {
  font-size: 1.125rem;
  line-height: 1.5555555556;
  margin-bottom: 2.25rem;
}
@media (min-width: 48rem) {
  .premium p {
    font-size: calc(0.0029761905 * 100vw + 0.9821428571rem);
    line-height: calc(0.0089285714 * 100vw + 1.3214285714rem);
    margin-bottom: calc(0.0044642857 * 100vw + 2.0357142857rem);
  }
}
@media (min-width: 90rem) {
  .premium p {
    font-size: 1.25rem;
    line-height: 1.7;
    margin-bottom: 2.4375rem;
  }
}

.premium__price {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  position: relative;
}
.premium__price .price {
  font-size: 4.0625rem;
  font-weight: 700;
  line-height: 0.8;
  margin-left: 0.375rem;
}
@media (min-width: 48rem) {
  .premium__price .price {
    margin-left: calc(-0.0089285714 * 100vw + 0.8035714286rem);
  }
}
@media (min-width: 90rem) {
  .premium__price .price {
    margin-left: 0;
  }
}
.premium__price .unit {
  line-height: 1.6;
  letter-spacing: -0.2px;
  margin-left: 0.8em;
  position: absolute;
  bottom: 11px;
}

button {
  font-size: 1.125rem;
  font-weight: 700;
  border: 0;
  letter-spacing: -0.18px;
  height: 3.8125rem;
  border-radius: 12px;
  cursor: pointer;
}
button img {
  position: relative;
  top: 2px;
}

.button-ios {
  background-color: #191826;
  color: #fcfaf9;
  margin-bottom: 1rem;
}
.button-ios img {
  margin-right: 7.92px;
}
.button-ios:hover {
  background-color: #66e2dc;
}

.button-android {
  background-color: #fcfaf9;
  color: #191826;
}
.button-android img {
  margin-right: 7.8px;
}
.button-android:hover {
  background-color: #ffb964;
}

footer {
  display: flex;
  flex-direction: column;
  padding: 0 calc(0.1090909091 * 100vw + -16.9090909091px);
}
@media (min-width: 23.4375rem) {
  footer {
    padding-inline: calc(-0.0610687023 * 100vw + 46.9007633588px);
  }
}
@media (min-width: 48rem) {
  footer {
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 65.625rem) {
  footer .footer__text {
    display: flex;
    flex-direction: row;
  }
}
footer .logo_bottom {
  margin-bottom: 2.000625rem;
  align-self: flex-start;
}
@media (min-width: 65.625rem) {
  footer .logo_bottom {
    margin-right: 137.76px;
    margin-bottom: 0;
  }
}
footer p {
  font-size: 1rem;
  max-width: 22.875rem;
  margin-bottom: 4rem;
  line-height: 1.625;
}
@media (min-width: 65.625rem) {
  footer p {
    margin-bottom: 0;
    margin-right: 1rem;
  }
}
footer a {
  font-weight: 700;
  color: #191826;
  text-decoration: none;
}
footer .social-media {
  flex-shrink: 0;
}
@media (min-width: 48rem) {
  footer .social-media {
    margin-top: calc(-0.2304964539 * 100vw + 271.0212765957px);
  }
}
@media (min-width: 65.625rem) {
  footer .social-media {
    margin-top: 29px;
  }
}
footer svg {
  margin-right: 20px;
}
footer svg:hover path {
  fill: #fa7453;
}
footer svg.twitter {
  margin-right: 0;
}

/*# sourceMappingURL=style.css.map */
